@use 'variables';

.coffee-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: variables.$spacing;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
